---
layout: default
---

<div class="home">

  <h1 class="page-heading">Current Episode</h1>

  <ul class="episode-list">
    
    {% for episode in site.episodes limit:1 %}
      <li class="episode">

        <header class="episode-header">
          <h2>
            <a class="episode-link" href="{{ episode.url | prepend: site.baseurl }}">{{ episode.title }}</a>
          </h2>
          <p class="episode-meta">{{ episode.date | date: "%b %-d, %Y" }}</p>
        </header>

        <article class="episode-content">
          {{ episode.content }}
        </article>

      </li>
    {% endfor %}

    <!-- <h1 class="page-heading">Previous Episode</h1> -->

    {% for episode in site.episodes offset:1 limit:4 %}
      <li>
        <span class="episode-meta">{{ episode.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="episode-link" href="{{ episode.url | prepend: site.baseurl }}">{{ episode.title }}</a>
        </h2>

        <article class="episode-summary" data-episode-prefix="In This Episode: ">
          {{ episode.summary }}
        </article>
      </li>
    
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
